.headerRow{
    position: relative;
    background-color: #ffffff;
    /*box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);*/
    border-bottom:1px solid #e7eaec;/* rgb(220, 220, 220);*/
    padding:5px;
    height:50px;
    z-index: 20;
}
.cgiLogo{
    width: 50px;
    padding: 10px 0px 5px 0px; 
    cursor: pointer;
}
.appHeading{
    font-size:1.5em;
    /*font-weight: bold;*/
}
.headerIconCercle{
    font-size: 1.3em;
    color:gray;
    cursor: pointer;
}

.headerIcons {
   margin-left: 20px;
   color:gray;
   font-size: 1.3em;
}
.headerIconCercle:hover{
    color: #000;
}
.icon-background {
    color: #e9e9e9;
}
.numberCircle {
    border-radius: 50%;
    padding: 0px 6px;
    background: #991F39;
    color: #fff;
    text-align: center;
    z-index: 9999;
    position: relative;
    font-size: 0.7em;
  }
 .cartCount {
    border-radius: 50%;
    font-size: 0.6em;
    background: #A1C4D0;
    color: #000;
    padding: 0 5px;
    vertical-align: top;
    z-index: 9999;
    position: relative;
}

.user {
    display: inline-block;
    width: 2.1em;
    height: 2.1em;
    line-height: 2em;
    vertical-align: middle;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
  }