html, body {
    height: 100%;
    margin: 0px;
}
form{width:100%;}
.fullHeight{
    min-height: 100%;
    height:100%;
}
.containerPadding{
    padding:10px 20px 0px 20px;
    /*overflow:auto;*/
}
.container-flex{
    /*overflow: auto;*/
}
.silverColor{
    color:silver;
}
aside{
    display:block;
    background-color: #f5f5f5;
    /*overflow:hidden;
    min-height:100%;*/
    border-right:1px solid #e7eaec;/* rgb(220, 220, 220);*/
    width: 17%;
    position:absolute;
    top:50px;
    bottom:0px;
}
#main {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    margin-left: 17%;
}

@media only screen and (min-width: 810px){
    aside{width:180px;}
    #main{margin-left: 180px;}
}

#left-panel {
    -webkit-transition: 250ms cubic-bezier(0.1,.57,.1,1);
    transition: 250ms cubic-bezier(0.1,.57,.1,1);
    -webkit-transform: translate(0px,0) translateZ(0px);
}
#left-panel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 49px;
}

.leftMinimizeArrows {
    z-index: 10000;
    float: right;
    text-align: right;
    cursor: pointer;
    height: 25px;
    width: 11px;
    position: relative;
    right: -12px;
    list-style: none;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
}
nav ul li{
    cursor: pointer;
    border-bottom: 1px solid #e7eaec;
}
nav ul li:nth-child(2){
    padding-top: 5px;
}
nav ul li a:active{
    background:silver !important;
}
nav ul{
    width:100%;
    padding:40px 28px 25px 0;
    padding:0;
    margin:0;
    font-size:13px;
    line-height:.5em;
    list-style:none;
    position:relative
}
nav ul .active>a{
    color:#fff!important;
    position:relative
}
nav ul li.active>a:before{
    content:"\f0d9";
    font-family:FontAwesome;
    display:block;
    height:27px;
    line-height:normal;
    width:27px;
    position:absolute;
    right:-21px;
    font-size:20px;
    color:#eee
}
nav ul li.active.open>a:before{
    content:""
}
nav>ul>li:last-child.open{
    border-bottom:1px solid rgba(255,255,255,.15)
}
nav ul li{
    overflow:hidden
}
nav ul li a{
    line-height:normal;
    font-size:14px;
    padding:10px 10px 10px 11px;
    color:#a8a8a8;
    display:block;
    font-weight:400;
    text-decoration:none!important;
    position:relative
}
nav>ul>li>ul>li>a,nav>ul>li>ul>li>ul>li>a{
    padding-top:2px;
    padding-bottom:2px
}
nav ul li a:focus{
    color:#a0a0a0;/*a8a8a8*/
}
nav ul li a:hover{
    color:black;
    text-decoration:none
}
nav ul b{
    float:right;
    font-size:11px;
    margin-top:2px
}
nav ul span.menu-item-parent{
    display:inline-block;
    margin:0;
    padding:0
}
nav ul li.open>a,nav ul li.open>a b{
    color:#fff!important
}
nav>ul>li>a b{
    position:absolute!important;
    right:10px;
    top:10px
}
nav>ul>li>a>i{
    margin-right:5px;
    width:15px;
    display:inline-block;
    text-align:center;
    position:relative
}
nav>ul>li>a>i>em{
    font-size:9px;
    display:block;
    padding:2px;
    position:absolute;
    top:-8px;
    right:-6px;
    text-decoration:none;
    font-style:normal;
    background:#ED1C24;
    color:#fff;
    min-width:13px;
    border-radius:50%;
    max-height:13px;
    line-height:8px;
    font-weight:700;
    white-space:nowrap;
    text-align:center;
    border:1px solid rgba(255,255,255,.1)
}
nav ul li li{
    border-bottom:none;
    position:relative
}
nav>ul>li>ul::before{
    content:"";
    display:block;
    position:absolute;
    z-index:1;
    left:23px;
    top:0;
    bottom:0;
    border-left:1px solid #7A7A7A
}
nav>ul ul li::before{
    content:"";
    display:block;
    position:absolute;
    width:8px;
    left:23px;
    top:16px;
    border-top:1px solid #7A7A7A;
    z-index:1
}
nav>ul ul ul li::before{
    content:"";
    display:block;
    position:absolute;
    width:18px;
    left:10px;
    top:17px;
    border-top:1px solid transparent
}
nav>ul ul li a i{
    font-size:14px!important;
    width:18px!important;
    text-align:center!important;
    vertical-align:0!important;
    line-height:1!important
}
nav>ul>li:hover>ul::before,nav>ul>li:hover>ul>li::before{
    border-color:#ACACAC!important
}
/*
nav ul ul{
    margin:0;
    display:none;
    background:rgba(69,69,69,.6);
    padding:7px 0
}
*/
nav ul ul ul{
    background:0 0;
    padding:0
}
nav ul ul li{
    margin:0;
    padding:0
}
nav ul ul li>a{
    padding-left:42px;
    font-size:14px;
    font-weight:400;
    outline:0
}
nav ul ul li>a:hover{
    /*background-color:silver;*/
}
nav ul ul ul li a{
    color:#bfbfbf;
    padding:8px 10px 8px 60px;
    font-size:14px
}
nav ul ul ul li a:hover{
    background-color:silver;
    color:#fff
}
nav ul ul ul ul li a{
    padding-left:80px
}
nav ul ul ul ul ul li a{
    padding-left:100px
}
nav ul ul ul ul ul ul li a{
    padding-left:120px
}
nav ul ul b{
    color:#B3B3B3
}
nav ul ul>li:hover b{
    color:#D5D9E2
}


/** MINIFY **/
.minifyme{
    border: 1px solid rgb(220, 220, 220);
    background: #f2f2f2;
    color: #A8A8A8;
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    padding-top:3px;
    right: 0px;
    width: 12px;
    height: 25px;
    display: block;
    cursor: pointer;
}

.minifyme:hover{
    /*background:#A8A8A8;*/
    color:black;
    right:0
}
.minified .minifyme{
    right:0;
    top:0;
    position: absolute;
    width: 12px;
    height: 25px;
}
.minified .minifyme .fa:before{
    content:"\f0da"
}
/*
.minified #left-panel{
    width:45px
}
.minified #main{
    margin-left:45px
}
.minified #left-panel,.minified nav>ul>li{
    overflow:visible
}
.minified nav>ul>ul{
    min-height:100px!important;
    max-height:180px!important;
    overflow-y:scroll;
    overflow-x:hidden;
    background:#ed1c24!important
}
.minified nav>ul>li,.minified nav>ul>li a{
    position:relative
}
.minified nav ul>li>a{
    padding:10px 11px;
    display:block
}
.minified nav>ul>li>a .fa.fa-fw{
    display:block;
    width:auto;
    text-align:center;
    padding:0
}
.minified nav>ul>li>a>i{
    text-align:center;
    margin:0;
    display:block
}
.minified nav>ul>li.active>a::before{
    content:"\f0d9"
}
.minified nav ul ul li a{
    padding-left:14px
}
.minified nav ul ul li li a{
    padding-left:25px
}
.minified nav>ul ul li::before,.minified nav>ul>li>ul::before{
    left:12px
}
.minified nav>ul>li>a .menu-item-parent,.minified nav>ul>li>a>b{
    display:none
}
.minified nav>ul>li>a>.menu-item-parent{
    display:none;
    position:absolute;
    left:40px;
    top:-3px;
    width:186px;
    height:38px;
    line-height:38px;
    background-color:#f5f5f5;
    color:#333;
    z-index:3;
    -webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,.2);
    -moz-box-shadow:2px 1px 2px 0 rgba(0,0,0,.2);
    box-shadow:2px 1px 2px 0 rgba(0,0,0,.2);
    border-left:1px solid #bfbfbf;
    border-top:1px solid #D8D4D4;
    border-bottom:1px solid #fff;
    padding-left:12px
}
.minified nav>ul>li>ul{
    display:none!important;
    position:absolute;
    left:40px;
    width:200px;
    z-index:5;
    border:1px solid #bfbfbf;
    min-height:180px;
    -webkit-box-shadow:1px 1px 2px 0 rgba(0,0,0,.2);
    -moz-box-shadow:1px 1px 2px 0 rgba(0,0,0,.2);
    box-shadow:1px 1px 2px 0 rgba(0,0,0,.2);
    background:silver;
    margin-top:-3px
}
.minified nav ul>li>ul>li>ul{
    position:relative;
    left:13px;
    border:none;
    margin-left:-12px;
    width:197px
}

.minified nav>ul>li>ul>li{
    background-color:rgba(69,69,69,.9)
}
.minified nav>ul>li>ul>li>ul>li{
    background-color:red
}
.minified nav>ul>li{
    border-bottom:1px solid silver;
}
.minified nav>ul>li>ul::before{
    border-left:none
}
.minified nav>ul ul li::before{
    border:none
}
*/
/*--------------------------*/
.minified #left-panel {
    width:45px
   }
   .minified #main {
    margin-left:45px
   }
   .minified #left-panel,.minified nav>ul>li {
    overflow:visible
   }
   .minified nav>ul>ul {
    min-height:100px!important;
    max-height:180px!important;
    overflow-y:scroll;
    overflow-x:hidden;
    background:#ed1c24!important
   }
   .minified nav>ul>li,.minified nav>ul>li a {
    position:relative
   }
   .minified nav ul>li>a {
    padding:10px 11px;
    display:block
   }
   .minified nav>ul>li>a .fa.fa-fw {
    display:block;
    width:auto;
    text-align:center;
    padding:0
   }
   .minified nav>ul>li>a>i {
    text-align:center;
    margin:0;
    display:block
   }
   .minified nav>ul>li.active>a::before {
    content:"\f0d9"
   }
   .minified nav ul ul li a {
    padding-left:14px
   }
   .minified nav ul ul li li a {
    padding-left:25px
   }
   .minified nav>ul ul li::before,.minified nav>ul>li>ul::before {
    left:12px
   }
   .minified nav>ul>li>a .menu-item-parent,.minified nav>ul>li>a>b {
    display:none
   }
   .minified nav>ul>li>a>.menu-item-parent {
    display:none;
    position:absolute;
    left:45px;
    top:0px;
    width:150px;
    height:38px;
    line-height:38px;
    background-color:#f5f5f5;
    color:#333;
    z-index:3;
    border:1px solid #e7eaec;
    padding-left:12px
   }
   .minified nav>ul>li>ul {
    display:none!important;
    position:absolute;
    left:45px;
    width:150px;
    /*z-index:5;*/
    border:1px solid #e7eaec;
    background:#f5f5f5; /* Manu - change color*/
    margin-top:-3px;
    color:red;
   }
   .minified nav ul>li>ul>li>ul {
    position:relative;
    left:13px;
    border:none;
    margin-left:-12px;
    width:197px
   }
   .minified nav>ul>li:hover>a>.menu-item-parent,.minified nav>ul>li:hover>ul {
    display:block!important
   }
   .minified nav>ul>li>ul>li {
    /*background-color:rgba(69,69,69,.9)*/
   }
   .minified nav>ul>li>ul>li>ul>li {
    background-color:#e7eaec /*Manu - Change border colors*/
   }
   .minified nav>ul>li {
    border-bottom:1px solid silver;
   }
   .minified nav>ul>li>ul::before {
    border-left:none
   }
   .minified nav>ul ul li::before {
    border:none
   }
   .slimScrollDiv,.slimScrollDiv>:first-child {
    overflow:hidden
   }
   .minified .slimScrollDiv,.minified .slimScrollDiv>:first-child {
    overflow:visible!important
   }
   .minified .slimScrollBar,.minified .slimScrollRail {
    display:none
   }
   .minified nav>ul>li>ul>li>a,.minified nav>ul>li>ul>li>ul>li>a {
    padding-top:2px;
    padding-bottom:2px
   }
   .minified nav>ul>li>ul>li>ul>li a {
    padding-top:6px;
    padding-bottom:6px
   }
   .minified nav ul ul ul ul li a {
    padding-left:45px
   }
   .minified nav ul ul ul ul ul li a {
    padding-left:62px
   }
   .minified nav ul ul ul ul ul ul li a {
    padding-left:82px
   }
   